.svgActive {
  path {
    fill: #3a6cab !important;
  }
}

.svgDisable {
  path {
    fill: #5f6368 !important;
  }
}

.fakeStats {
  height: 100vh;
  background-image: url("./fakeStatistics.svg");
}
